.section-article__info-1 {
  padding: 30px;
  background: #333;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-1,
.img-2 {
  font-size: 22px;
}

.img-1 img,
.img-2 img {
  margin: 40px 0;
  border: 3px solid #ddd;
  border-radius: 1em;
  padding: 4px;
}
